page-login {
    position: relative;
    background-color: rgba(0,0,0,0.5); 

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }
    .toolbar-background{background: #bf0310;}

    ion-title{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
    }

    .list{
        position: relative;
        padding: 4%;
    }

    .imageclass{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right : auto;
        height: 70%;
        width: 100%;
    }

    .ion-content-class{
        position: relative;
        background: white;

        .marginsidemenu{
            margin-top: 10%;
        }

        .input{
            background: #bf0310;
            color: white;
            border-radius: 4px;
            
        }

        .item {
            background: transparent;
        }

        ::-webkit-input-placeholder { 
            color: white;
          }

          ::-moz-placeholder { /* Firefox 19+ */
            color: white;
          }

          :-ms-input-placeholder {
            color: white;
          }
          :-moz-placeholder { 
            color: white;
          }
    }


}
    
    