
<ion-header>

  <ion-navbar>
    <ion-title>Cardapio</ion-title>

    <ion-buttons end >
      <button ion-button icon-only (click)="addCategory()">
          <ion-icon name ="add" style="color:white;"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="ion-content-class" no-padding>
    <ion-list *ngIf="listaOpened" no-padding no-lines>
        <ion-item-group *ngFor="let item of categories; let i = index"  >
            <button ion-item outline (click)="toggleSection(i,item)">
            {{ item.categoryname }} 
            <ion-icon end name="arrow-forward"></ion-icon>
            </button>
        </ion-item-group>
    </ion-list>

    <ion-list *ngIf="!listaOpened" no-padding no-lines>
        <button style="color:#000000;" ion-item outline>
            <ion-icon item-left name="arrow-round-back"  (click)="backtocategory()"></ion-icon>
            <ion-title text-center style="color:#000000;">{{ categorynamelista }} </ion-title>
            <ion-icon item-right end name="add"  (click)="addmenutype()"></ion-icon>
        </button>
        <ion-item-group *ngFor="let menu of menuType; let j = index"  >
            <button ion-item outline (click)="deleteMenuType(menu)">
            {{ menu.name }} 
            </button>
        </ion-item-group>
    </ion-list>

</ion-content>
