<ion-header>
  <ion-navbar>
    <ion-title >Cardapio</ion-title>    
    <ion-buttons start >
        <button ion-button icon-only (click)="goMenun()">
            <ion-icon name ="menu" style="color:white;" ></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons end >
          <button  ion-button icon-only (click)="goOrders()">
              <ion-badge *ngIf="numbernotzero" color="danger">{{ numberOrder}}</ion-badge>
              <ion-icon name ="cart" style="color:white;"> </ion-icon>
            </button>
      </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content class="ion-content-class">
    <!-- <ion-slides class="slidesclass" autoplay="1000" loop="true" speed="3000" >
        <ion-slide class="slideitem"  *ngFor="let promo of promotions" > 
          <img src="{{promo.img}}" class="imageclass" />
        </ion-slide>
    </ion-slides> -->
  
  <ion-list class="big-list" >
  <ion-list class="accordion-list" *ngFor="let item of categories; let i = index" no-padding no-lines>
    <!-- First Level -->
      <!-- Toggle Button -->
      <button ion-item outline (click)="toggleSection(i,item)" detail-none   [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <h1>{{ item.categoryname }} </h1> 
      </button>
 
      <ion-list *ngIf="item.open" no-lines>
        <!-- Second Level -->
        <!-- <img src="assets/imgs/salgados.jpg" /> -->
        <ion-item-group  *ngFor="let type of menuType; let j = index"> 
          <!-- Direct Add Button as Fallback -->
          <ion-item  detail-none class="child-item" text-wrap>
            <h2> {{i+1}}{{j+1}} {{ type.name }}</h2>
            <p text-lowercase>{{ type.description }}</p>
            <button ion-button color="segundo" item-end (click)="btnAddClicked(i,j,type)">R$ {{ type.price }}</button>
            </ion-item>

          </ion-item-group>
      </ion-list>
  </ion-list>
</ion-list>
</ion-content>
